body, h1, h2, p, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h1 {
  color: #ff3399;
  text-align: center;
  padding: 20px;
  background-color: #ffe6f2;
}

h2 {
  color: #800080;
  border-bottom: 2px solid #800080;
  padding: 10px;
}

div:nth-child(2) {
  background-color: #e6e6fa;
  padding: 20px;
}

ul {
  list-style-type: none;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

li p {
  margin-top: 5px;
  margin-bottom: 10px;
}

div:nth-child(3) {
  background-color: #e6e6fa;
  padding: 20px;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
}

ol li a {
  color: #800080;
  text-decoration: none;
}

div:nth-child(4) {
  background-color: #e6e6fa;
  padding: 20px;
}

#my_goals {
  background-color: #e6e6fa;
  padding: 20px;
}

#comments_section {
  background-color: #e6e6fa;
  padding: 20px;
}

.comment-container {
  border-bottom: 1px solid #800080;
  padding: 10px;
  margin-bottom: 10px;
}

#comment_form {
  background-color: #e6e6fa;
  padding: 20px;
  margin-top: 20px;
}

div:nth-child(6) {
  background-color: #e6e6fa;
  padding: 20px;
  text-align: center;
}

img {
  margin: 10px;
  border: 5px solid #800080;
}

select {
  margin-top: 10px;
}

#comment_button {
  background-color: #800080;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

div:last-child {
  background-color: #e6e6fa;
  padding: 20px;
  margin-top: 20px;
}
@media (max-width: 768px) {
img {
    width: 90%;
    height: auto;
}