body {
	background-color: #cbc3e3; 
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

div {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 5px solid #301934; 
	padding: 20px;
	margin: 10px;
}

h1 {
	font-size: 40px;
	font-weight: bold;
}

h2 {
	font-size: 30px; 
	font-weight: bold;
	margin: 10px 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	font-weight: bold;
	margin: 10px 0;
}

li p {
	font-weight: normal;
}

ol {
	list-style-type: decimal;
	padding: 0;
}

ol li a {
	color: #b65fcf; 
	text-decoration: none;
}

p {
	font-style: italic;
}

#comments_list, 
#comment_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#comments_list {
	list-style-type: none;
	padding: 0;
	margin: 10px;
}

#comment_form {
	border: 2px solid #301934;
	padding: 20px;
	margin: 10px;
}

#comment_form label, 
#comment_form input, 
#comment_form textarea, 
#comment_form button {
	display: block;
	font-family: Arial, sans-serif;
	font-weight: bold;
	margin: 10px;
	width: 100%;
}

#comment_form input, 
#comment_form textarea {
	padding: 10px;
	border: 2px solid #702670;
	border-radius: 5px;
	font-family: Arial, sans-serif;
}

#comment_form button {
	background-color: #7851a9;
	color: black;
	font-weight: bold;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

h2 + img {
	margin: 10px;
	max-width: 100%;
	height: auto;
}